.third{
    min-width: 240px;
}
.inv-text{
    text-align: center;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ob{
    min-height: 225px;
}