{% extends "base.html" %}

{% block title %}GeoDraw{% endblock %}

{% block content %}
<div class="gradient">
    <section class="temp first">GeoDraw</section>
    <section class="temp second">Simple game based on drawing the outlines of different countries and comparison these drawings to the real outlines.</section>
    <div class="btns">
        <a class="temp third" href="/draw">World</a>
        <a class="temp third button-2">Europe</a>
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}